
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EveryCrave v2.x</title>
    <meta name="description" content="A new bootstrap theme">
    <meta name="author" content="Damian Sowers">
    <!-- Le styles -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href='/media/css/corgi.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/css/elusive-webfont.css">
    <script src="/media/js/jquery.min.js" type="text/javascript"></script>
    <script src="/media/js/corgi.js" type="text/javascript"></script>
    <!-- elusive icons ie7 support -->
    <!--[if lte IE 7]><script src="js/lte-ie7.js"></script><![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <style>
      body {
        padding-top: 80px; /* Only include this for the fixed top bar */
      }
    </style>
  </head>
  <body>
  
  {% block content %}
  
  {% endblock %}
  
  {% block js %}
  {% endblock %}

    <!-- Le javascript
    ================================================== -->
   <script src="/media/js/bootstrap.js"></script>
  </body>
</html>
